# 1. Python Artifacts (Rác sinh ra khi chạy Python)
__pycache__/
*.pyc
*.pyo
*.pyd

# 2. Dữ liệu (Không push file nặng lên Git)
# Chỉ giữ lại cấu trúc thư mục, bỏ qua file bên trong
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# 3. Kết quả đầu ra (Generated Outputs)
# Vì những file này do Docker tự sinh ra mỗi lần chạy
outputs/*
web_app/data.js

# 4. Môi trường ảo (Virtual Env) & Cấu hình IDE
env/
venv/
.vscode/
.idea/
.DS_Store

# 5. File log (nếu có)
*.log